

.calc-container {
    width: var(--calc-width);
    height: 90vh;
    margin: 10px auto 10px;
    border: 1px solid;
    border-radius: 1%;
    border-color: transparent;
    background-color: var(--smoky-black);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

@media only screen and (max-width: 428px) {
    .calc-container {
        width: 100vw;
        height: calc(2*100vw);
    }
}

@media only screen and (max-width: 375px) and (min-height: 760px){
    .calc-container {
        width: 100vw;
        height: calc(1.7*100vw);
        margin-top: 72px;
    }
}

@media only screen and (max-width: 375px) {
    .calc-container {
        width: 100vw;
        height: calc(1.7*100vw);
    }
}